/* Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: fixed; /* Fixes the navbar at the top */
  top: 0; /* Aligns the navbar to the top */
  width: 100%; /* Ensures the navbar spans the full width */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for better visibility */
  z-index: 1000; /* Ensures the navbar is above other content */
}

/* Adjust the padding of the main content to prevent it from being hidden behind the fixed navbar */
main {
  padding-top: 60px; /* Adjust this value if needed based on the navbar height */
}

.navLink,
.userInfo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navImage,
.userImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.leftSideLinks {
  display: flex;
  gap: 20px;
}

.aboutLink {
  margin-left: 20px;
}

.projectLink,
.aboutLink {
  /* Add styling for About link */
  text-decoration: none;
  color: #224eff;
  font-weight: bold;
}

.borrowLink:hover,
.favoritesLink:hover,
.shareLink:hover,
.aboutLink:hover {
  color: black;
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  margin: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .favoritesLink,
  .shareLink,
  .aboutLink,
  .searchContainer {
    display: none;
  }

  .navLink {
    margin-right: 20px;
  }

  .buttonContainer {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .navImage {
    width: 40px;
  }

  .borrowLink,
  .favoritesLink,
  .shareLink,
  .aboutLink {
    /* Hide the About link on mobile if needed */
    display: none;
  }
}
