.card {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #ffffff;
  max-width: 300px;
  margin: 16px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: auto;
  text-align: right;
}

.titleContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.description {
  font-size: 0.9em;
  color: #666;
  margin: 8px 0;
  overflow: visible;
  white-space: normal;
}

.technologyContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.technologyLabel {
  padding: 6px 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #333;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: inline-block;
  white-space: nowrap;
}

.status {
  font-size: 0.8em;
  margin-left: 8px;
  align-self: center;
  color: #9e9e9e;
}

.favoriteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.repos {
  margin: 12px 0;
}

.repoLink {
  margin-right: 10px;
  font-weight: bold;
  color: #224eff;
  text-decoration: none;
}

.repoLink:hover {
  text-decoration: underline;
}

.favoriteBtn:hover {
  color: #224eff; /* Red color on hover */
  background-color: #f0f0f0;
}

.favoriteBtn.active {
  color: #224eff; /* Red color when active */
  background-color: #fff;
}

.favoriteBtn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .image {
    height: 150px;
  }
  .card {
    margin: 8px;
  }
}
